@font-face {
	font-family: 'Profilfont';
	src: url('./assets/fonts/Profilfont-Regular-Web.woff') format('woff'),
		url('./assets/fonts/Profilfont-Regular-Web.woff2') format('woff2');
}

html {
	font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
	font-family: 'Profilfont', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
